body {
    margin: 0;
    color: #6a6f8c;
    background-image: url('bkg.jpg');
    background-size: 100%;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

#wholeFormContainer {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    margin-top: 40px;
}

#fadeLayer {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .8);
}

.mainSections {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.switcherRadio,
#invisibleCheckbox {
    display: none;
}

.switcherLabel,
.typingInputLabel,
.eachInputGroup input[type="submit"] {
    text-transform: uppercase;
}

.switcherLabel {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.switcherRadio:checked+.switcherLabel {
    color: #fff;
    border-color: #1161ee;
}

#sectionsContainer {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.eachInputGroup {
    margin-bottom: 15px;
}

.typingInputLabel,
.typingInput,
.eachInputGroup input[type="submit"] {
    width: 100%;
    color: #fff;
    display: block;
}

.typingInput,
.eachInputGroup input[type="submit"] {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.typingInputLabel {
    color: #aaa;
    font-size: 12px;
}

.eachInputGroup input[type="submit"] {
    background: #1161ee;
}

.checkboxReplacingIcon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.checkboxReplacingIcon:before,
.checkboxReplacingIcon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.checkboxReplacingIcon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.checkboxReplacingIcon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

#invisibleCheckbox:checked+label {
    color: #fff;
}

#invisibleCheckbox:checked+label .checkboxReplacingIcon {
    background: #1161ee;
}

#invisibleCheckbox:checked+label .checkboxReplacingIcon:before {
    transform: scale(1) rotate(45deg);
}

#invisibleCheckbox:checked+label .checkboxReplacingIcon:after {
    transform: scale(1) rotate(-45deg);
}

#switchToSignIn:checked+.switcherLabel+#switchToSignUp+.switcherLabel+#sectionsContainer #signInSection {
    transform: rotateY(0);
}

#switchToSignUp:checked+.switcherLabel+#sectionsContainer #signUpSection {
    transform: rotateY(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}